{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center whiteBackground">
            <h1 class="text-center"> Request for password reset</h1>
            <p class="text-center"> Click on the link below to reset password: </p>
            <p> {{ url }}</p>
        </div>
    </div>
</div>
{% endblock %}