<p>{{ username }}, in order to complete your registration at CWPC,
    you need to confirm your account by following the link below.</p>
<h2>Confirm Account</h2>
<p>{{ url }}</p>

<p>Thanks for registering</p>
<p>CWPC</p>