{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/style.css') }} ">
{% endblock %}
{% block body %}
    <h1 class="text-center">Users list</h1>
    <div id="entities-grid">
    </div>
    <div id="pagination-wrapper" class="zui-pager col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center">
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/AjaxGrid.js') }}"></script>
    {% endblock %}

    <script>
        $("#entities-grid").ajaxgrid({
            dataUrl: "http://127.0.0.1:8000/user/ajax",
            editUrl: "http://127.0.0.1:8000/user/",
            sortableColumns: ["id", "email", "name", "role", "enabled"],
            filterableColumns: ["id", "email", "name", "role", "enabled"],
            rowsPerPage: 6,
            key: "users"
        });
    </script>
{% endblock %}
