{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h2 class="text-center">Reset password</h2>
            <div class="col-md-2 col-md-offset-5 text-center whiteBackground">
                <form action="{{ path('user_reset_password', {'token': token }) }}" method="post" class="form-horizontal">
                    <div class="form-group text-center">
                        {{ form_start(resetForm) }}
                        {{ form_widget(resetForm) }}
                        <input type="submit" value="Save" />
                        {{ form_end(resetForm) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}